<!-- w-8/12 giving width for extra large devices  -->


<div class="min-h-screen py-40" style="background: linear-gradient(#115D25, #9F7AEA);">
 <div class= "container mx-auto ">
   <div class= " flex w-8/12 rounded mx-auto bg-white justify-content text-center shadow-lg
   overflow-hidden" >

    <div class = "w-1/2 bg-gradient-to-r from-purple-500 to-pink-500 " >

        <h1 class="text-white text-3xl"> Welcome </h1>
          <div>
            <p class="text-white" > Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,  </p>
          </div>

      </div>


      <div class = 'w-1/2 py-16 px-14'>
       <h1 class= "text-3xl"> Registration </h1>
       <p class = 'mt-4 mb-2'>Creates your account its free to Register</p>
        <form>
          <!-- Name input field-->
          <div class = "grid grid-cols-2 gap-5" >
            <input type="text" class= "border border-gray-400 py-2 px-1" placeholder="Ente Name" />
            <input type="text" class= "border border-gray-400 py-2 px-1" placeholder="Enter Surname" />
          </div>

          <div class = "mt-5 max-w-full">
            <input type="text" class= "border border-gray-400 py-2 px-1" placeholder="Enter Email address" >
          </div>

          <div class = "mt-5">
            <input type="Password" class= "border border-gray-400 py-2 px-1" placeholder="Enter Password" >
          </div>

          <div class = "mt-5">
            <input type="Password" class= "border border-gray-400 py-2 px-1" placeholder="Confirm Password" >
          </div>


          <div class = "mt-5">
            <input type="checkbox" class= "border border-gray-400 "  >
            <span>
              I accept <a href="#" class='text-purple-500 font-semibold' >the terms of use </a> & <a href="#" class='text-purple-500 font-semibold'> Privacy policy </a>
            </span>
          </div>



        </form>
      </div>

    </div>

 </div>
</div>

